In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
housing=pd.read_csv('housing.csv')
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

# 특성 조합

In [3]:
X = housing.drop("median_house_value", axis = 1) #feature
y = housing["median_house_value"] #targer value

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state = 0,
                                                   stratify = X['ocean_proximity'])

In [6]:
X_train.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
count,16512.000000,16512.000000,16512.000000,16512.000000,16353.000000,16512.000000,16512.000000,16512.000000
mean,-119.576302,35.636741,28.698159,2638.437318,538.485844,1433.163578,501.021621,3.862962
std,1.999541,2.134570,12.583490,2206.989208,424.051052,1156.825167,385.699394,1.899589
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900
25%,-121.790000,33.940000,18.000000,1450.000000,296.000000,788.000000,280.000000,2.556800
50%,-118.505000,34.260000,29.000000,2126.000000,436.000000,1170.000000,410.000000,3.530750
75%,-118.010000,37.720000,37.000000,3148.000000,647.000000,1724.250000,606.000000,4.738700
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100

In [7]:
X_train['total_rooms'].mean()

2638.4373183139537

In [8]:
X_train['households'].mean()

501.0216206395349

In [9]:
X_train['bedroom_ratio']=X_train['total_bedrooms']/X_train['total_rooms']
X_train.head()

<ipython-input-9-9b1b6d9c984c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['bedroom_ratio']=X_train['total_bedrooms']/X_train['total_rooms']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,bedroom_ratio
10261,-117.85,33.88,14.0,4753.0,681.0,2138.0,678.0,7.3658,<1H OCEAN,0.143278
17574,-121.92,37.32,28.0,2089.0,641.0,1666.0,587.0,2.3633,<1H OCEAN,0.306845
18304,-122.12,37.41,33.0,2892.0,617.0,1250.0,581.0,5.3727,NEAR BAY,0.213347
8987,-118.37,33.99,32.0,4018.0,564.0,1400.0,568.0,8.6718,<1H OCEAN,0.140368
3596,-118.49,34.24,34.0,1971.0,316.0,917.0,307.0,6.0965,<1H OCEAN,0.160325

In [10]:
X_train['pop_per_household']=X_train['population']/X_train['households']
X_train.head()

<ipython-input-10-cc011b6c2265>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['pop_per_household']=X_train['population']/X_train['households']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,bedroom_ratio,pop_per_household
10261,-117.85,33.88,14.0,4753.0,681.0,2138.0,678.0,7.3658,<1H OCEAN,0.143278,3.153392
17574,-121.92,37.32,28.0,2089.0,641.0,1666.0,587.0,2.3633,<1H OCEAN,0.306845,2.838160
18304,-122.12,37.41,33.0,2892.0,617.0,1250.0,581.0,5.3727,NEAR BAY,0.213347,2.151463
8987,-118.37,33.99,32.0,4018.0,564.0,1400.0,568.0,8.6718,<1H OCEAN,0.140368,2.464789
3596,-118.49,34.24,34.0,1971.0,316.0,917.0,307.0,6.0965,<1H OCEAN,0.160325,2.986971

In [11]:
#corr를 위해 target value 추가

X_train['median_house_value']=y_train
X_train

<ipython-input-11-216684ca3bd1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['median_house_value']=y_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,bedroom_ratio,pop_per_household,median_house_value
10261,-117.85,33.88,14.0,4753.0,681.0,2138.0,678.0,7.3658,<1H OCEAN,0.143278,3.153392,288500.0
17574,-121.92,37.32,28.0,2089.0,641.0,1666.0,587.0,2.3633,<1H OCEAN,0.306845,2.838160,198400.0
18304,-122.12,37.41,33.0,2892.0,617.0,1250.0,581.0,5.3727,NEAR BAY,0.213347,2.151463,360900.0
8987,-118.37,33.99,32.0,4018.0,564.0,1400.0,568.0,8.6718,<1H OCEAN,0.140368,2.464789,439100.0
3596,-118.49,34.24,34.0,1971.0,316.0,917.0,307.0,6.0965,<1H OCEAN,0.160325,2.986971,262300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7411,-118.22,33.95,36.0,1679.0,483.0,2249.0,487.0,2.8167,<1H OCEAN,0.287671,4.618070,160400.0
12754,-121.37,38.61,39.0,823.0,146.0,329.0,144.0,3.0833,INLAND,0.177400,2.284722,114100.0
3405,-118.36,34.26,34.0,3677.0,573.0,1598.0,568.0,6.8380,<1H OCEAN,0.155834,2.813380,378000.0
14295,-117.13,32.72,52.0,1560.0,307.0,757.0,315.0,2.7083,NEAR OCEAN,0.196795,2.403175,199100.0
11359,-117.92,33.74,18.0,1639.0,491.0,2513.0,458.0,2.1838,<1H OCEAN,0.299573,5.486900,159700.0

In [12]:
X_train.corr()['median_house_value'].abs().sort_values(ascending=False)

median_house_value    1.000000
median_income         0.685890
bedroom_ratio         0.254796
latitude              0.146327
total_rooms           0.131691
housing_median_age    0.107947
households            0.064741
total_bedrooms        0.050049
longitude             0.043821
pop_per_household     0.033141
population            0.026682
Name: median_house_value, dtype: float64

# 스케일링

In [13]:
X_train.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household,median_house_value
count,16512.000000,16512.000000,16512.000000,16512.000000,16353.000000,16512.000000,16512.000000,16512.000000,16353.000000,16512.000000,16512.000000
mean,-119.576302,35.636741,28.698159,2638.437318,538.485844,1433.163578,501.021621,3.862962,0.213286,3.033435,206479.995942
std,1.999541,2.134570,12.583490,2206.989208,424.051052,1156.825167,385.699394,1.899589,0.057849,6.439446,115528.104253
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,0.100000,0.750000,14999.000000
25%,-121.790000,33.940000,18.000000,1450.000000,296.000000,788.000000,280.000000,2.556800,0.175467,2.431483,119675.000000
50%,-118.505000,34.260000,29.000000,2126.000000,436.000000,1170.000000,410.000000,3.530750,0.203262,2.824892,178650.000000
75%,-118.010000,37.720000,37.000000,3148.000000,647.000000,1724.250000,606.000000,4.738700,0.240280,3.286448,263800.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,1.000000,599.714286,500001.000000

In [14]:
X_train=X_train.drop('median_house_value',axis=1)
X_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,bedroom_ratio,pop_per_household
10261,-117.85,33.88,14.0,4753.0,681.0,2138.0,678.0,7.3658,<1H OCEAN,0.143278,3.153392
17574,-121.92,37.32,28.0,2089.0,641.0,1666.0,587.0,2.3633,<1H OCEAN,0.306845,2.838160
18304,-122.12,37.41,33.0,2892.0,617.0,1250.0,581.0,5.3727,NEAR BAY,0.213347,2.151463
8987,-118.37,33.99,32.0,4018.0,564.0,1400.0,568.0,8.6718,<1H OCEAN,0.140368,2.464789
3596,-118.49,34.24,34.0,1971.0,316.0,917.0,307.0,6.0965,<1H OCEAN,0.160325,2.986971
...,...,...,...,...,...,...,...,...,...,...,...
7411,-118.22,33.95,36.0,1679.0,483.0,2249.0,487.0,2.8167,<1H OCEAN,0.287671,4.618070
12754,-121.37,38.61,39.0,823.0,146.0,329.0,144.0,3.0833,INLAND,0.177400,2.284722
3405,-118.36,34.26,34.0,3677.0,573.0,1598.0,568.0,6.8380,<1H OCEAN,0.155834,2.813380
14295,-117.13,32.72,52.0,1560.0,307.0,757.0,315.0,2.7083,NEAR OCEAN,0.196795,2.403175
11359,-117.92,33.74,18.0,1639.0,491.0,2513.0,458.0,2.1838,<1H OCEAN,0.299573,5.486900

## Min-Max Scaling (정규화)

=> (x-min(x))/(x-max(x)-min(x)

In [15]:
X_train.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'bedroom_ratio', 'pop_per_household'],
      dtype='object')

In [30]:
num_columns=['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income', 'bedroom_ratio', 'pop_per_household']

In [31]:
min_x=X_train[num_columns].min()
max_x=X_train[num_columns].max()

In [32]:
X_train_scaled=(X_train[num_columns]-min_x)/(max_x-min_x)
X_train_scaled.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household
count,16512.000000,16512.000000,16512.000000,16512.000000,16353.000000,16512.000000,16512.000000,16512.000000,16353.000000,16512.000000
mean,0.475468,0.329090,0.543101,0.067054,0.083409,0.040084,0.082227,0.231932,0.125873,0.003812
std,0.199157,0.226841,0.246735,0.056132,0.065806,0.032423,0.063427,0.131004,0.064277,0.010751
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.254980,0.148778,0.333333,0.036828,0.045779,0.022002,0.045881,0.141853,0.083852,0.002807
50%,0.582171,0.182784,0.549020,0.054021,0.067505,0.032708,0.067259,0.209021,0.114736,0.003464
75%,0.631474,0.550478,0.705882,0.080014,0.100248,0.048243,0.099490,0.292327,0.155867,0.004235
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## standard Scaling

=> (x-mean(x))/std(x)

In [33]:
mean_x=X_train[num_columns].mean()
std_x=X_train[num_columns].std()

X_train_scaled=(X_train[num_columns]-mean_x)/std_x
X_train_scaled.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household
count,1.651200e+04,1.651200e+04,1.651200e+04,1.651200e+04,1.635300e+04,1.651200e+04,1.651200e+04,1.651200e+04,1.635300e+04,1.651200e+04
mean,-3.633880e-13,-6.202779e-15,-1.821460e-17,-1.167106e-16,-1.391750e-16,2.442733e-17,-1.670932e-17,-7.545852e-15,1.781295e-14,-2.971006e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-2.387397e+00,-1.450756e+00,-2.201151e+00,-1.194586e+00,-1.267503e+00,-1.236283e+00,-1.296402e+00,-1.770415e+00,-1.958298e+00,-3.546011e-01
25%,-1.107103e+00,-7.948865e-01,-8.501742e-01,-5.384881e-01,-5.718317e-01,-5.577019e-01,-5.730411e-01,-6.876024e-01,-6.537506e-01,-9.347879e-02
50%,5.357741e-01,-6.449734e-01,2.398707e-02,-2.321884e-01,-2.416828e-01,-2.274878e-01,-2.359911e-01,-1.748863e-01,-1.732753e-01,-3.238513e-02
75%,7.833309e-01,9.759616e-01,6.597407e-01,2.308859e-01,2.558988e-01,2.516253e-01,2.721767e-01,4.610143e-01,4.666327e-01,3.929121e-02
max,2.633756e+00,2.957625e+00,1.851779e+00,1.662064e+01,1.392878e+01,2.960589e+01,1.446976e+01,5.862919e+00,1.359938e+01,9.266027e+01

In [34]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [35]:
scaler=StandardScaler()
scaler.fit(X_train[num_columns])

StandardScaler()

In [36]:
scaler.transform(X_train[num_columns])

array([[ 8.63375464e-01, -8.23020072e-01, -1.16808639e+00, ...,
         1.84405323e+00, -1.21021961e+00,  1.86291478e-02],
       [-1.17215364e+00,  7.88594157e-01, -5.54838149e-02, ...,
        -7.89490438e-01,  1.61734449e+00, -3.03256414e-02],
       [-1.27217964e+00,  8.30758483e-01,  3.41874249e-01, ...,
         7.94794683e-01,  1.05593689e-03, -1.36968029e-01],
       ...,
       [ 6.08309163e-01, -6.44992919e-01,  4.21345862e-01, ...,
         1.56619529e+00, -9.93172455e-01, -3.41738922e-02],
       [ 1.22346906e+00, -1.36647138e+00,  1.85183489e+00, ...,
        -6.07866737e-01, -2.85080875e-01, -9.78778315e-02],
       [ 8.28366364e-01, -8.88609023e-01, -8.50199943e-01, ...,
        -8.83987408e-01,  1.49162647e+00,  3.81017117e-01]])

In [37]:
pd.DataFrame(scaler.transform(X_train[num_columns]),columns=num_columns).describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household
count,1.651200e+04,1.651200e+04,1.651200e+04,1.651200e+04,1.635300e+04,1.651200e+04,1.651200e+04,1.651200e+04,1.635300e+04,1.651200e+04
mean,-1.015795e-15,5.319953e-16,-2.489799e-17,-9.291865e-17,-9.274008e-17,1.217668e-17,8.570240e-18,-8.336758e-17,7.522333e-17,6.529755e-17
std,1.000030e+00,1.000030e+00,1.000030e+00,1.000030e+00,1.000031e+00,1.000030e+00,1.000030e+00,1.000030e+00,1.000031e+00,1.000030e+00
min,-2.387470e+00,-1.450800e+00,-2.201217e+00,-1.194622e+00,-1.267541e+00,-1.236321e+00,-1.296442e+00,-1.770469e+00,-1.958358e+00,-3.546118e-01
25%,-1.107137e+00,-7.949105e-01,-8.501999e-01,-5.385044e-01,-5.718492e-01,-5.577188e-01,-5.730585e-01,-6.876232e-01,-6.537706e-01,-9.348162e-02
50%,5.357903e-01,-6.449929e-01,2.398780e-02,-2.321954e-01,-2.416902e-01,-2.274947e-01,-2.359982e-01,-1.748916e-01,-1.732806e-01,-3.238611e-02
75%,7.833547e-01,9.759912e-01,6.597607e-01,2.308929e-01,2.559066e-01,2.516329e-01,2.721849e-01,4.610282e-01,4.666470e-01,3.929240e-02
max,2.633836e+00,2.957714e+00,1.851835e+00,1.662114e+01,1.392921e+01,2.960678e+01,1.447020e+01,5.863096e+00,1.359980e+01,9.266308e+01

In [38]:
X_test['rooms_per_households']=X_test['total_rooms']/X_test['households']
X_test['bedroom_ratio']=X_test['total_bedrooms']/X_test['total_rooms']
X_test['pop_per_household']=X_test['population']/X_test['households']
X_test.head(2)

<ipython-input-38-29fae2f51ab0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['rooms_per_households']=X_test['total_rooms']/X_test['households']
<ipython-input-38-29fae2f51ab0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['bedroom_ratio']=X_test['total_bedrooms']/X_test['total_rooms']
<ipython-input-38-29fae2f51ab0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['pop_per_household']=X_test['population']/X_test['households']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,rooms_per_households,bedroom_ratio,pop_per_household
15610,-116.87,32.72,13.0,3268.0,491.0,1431.0,503.0,5.7652,<1H OCEAN,6.497018,0.150245,2.84493
10272,-117.87,33.87,16.0,1332.0,368.0,1534.0,295.0,3.0227,<1H OCEAN,4.515254,0.276276,5.20000

In [40]:
X_test_scaled=pd.DataFrame(scaler.transform(X_test[num_columns]),columns=num_columns)
X_test_scaled.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household
count,4128.000000,4128.000000,4128.000000,4128.000000,4080.000000,4128.000000,4128.000000,4128.000000,4080.000000,4128.000000
mean,0.016498,-0.011431,-0.023314,-0.006059,-0.007267,-0.033225,-0.019212,0.020291,-0.021405,0.028901
std,1.009985,1.003332,1.000755,0.941241,0.968233,0.889371,0.955512,1.000598,1.011471,3.001428
min,-2.317451,-1.446115,-2.201217,-1.192809,-1.265183,-1.231998,-1.293849,-1.770469,-1.958358,-0.363571
25%,-1.113388,-0.804280,-0.850200,-0.542696,-0.574207,-0.562906,-0.575651,-0.669737,-0.657961,-0.094449
50%,0.553295,-0.659048,-0.055484,-0.230610,-0.253482,-0.243055,-0.246369,-0.162573,-0.180038,-0.036653
75%,0.794608,0.971306,0.659761,0.229194,0.255907,0.253146,0.256628,0.479072,0.418717,0.035932
max,2.543812,2.957714,1.851835,10.217198,9.323488,9.266881,10.036561,5.863096,13.599796,192.615543

# Encoding

In [41]:
X_train['ocean_proximity'].value_counts()

<1H OCEAN     7309
INLAND        5241
NEAR OCEAN    2126
NEAR BAY      1832
ISLAND           4
Name: ocean_proximity, dtype: int64

In [43]:
pd.get_dummies(X_train['ocean_proximity'])

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
10261          1       0       0         0           0
17574          1       0       0         0           0
18304          0       0       0         1           0
8987           1       0       0         0           0
3596           1       0       0         0           0
...          ...     ...     ...       ...         ...
7411           1       0       0         0           0
12754          0       1       0         0           0
3405           1       0       0         0           0
14295          0       0       0         0           1
11359          1       0       0         0           0

[16512 rows x 5 columns]

In [44]:
from sklearn.preprocessing import OneHotEncoder
onehot=OneHotEncoder()
onehot.fit(X_train[['ocean_proximity']])

OneHotEncoder()

In [45]:
onehot.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [46]:
onehot.transform(X_train[['ocean_proximity']]).toarray()

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.]])

In [49]:
pd.DataFrame(onehot.transform
             (X_train[['ocean_proximity']]).toarray(),
columns=onehot.categories_[0])

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0            1.0     0.0     0.0       0.0         0.0
1            1.0     0.0     0.0       0.0         0.0
2            0.0     0.0     0.0       1.0         0.0
3            1.0     0.0     0.0       0.0         0.0
4            1.0     0.0     0.0       0.0         0.0
...          ...     ...     ...       ...         ...
16507        1.0     0.0     0.0       0.0         0.0
16508        0.0     1.0     0.0       0.0         0.0
16509        1.0     0.0     0.0       0.0         0.0
16510        0.0     0.0     0.0       0.0         1.0
16511        1.0     0.0     0.0       0.0         0.0

[16512 rows x 5 columns]

In [52]:
cgr_columns=['ocean_proximity']

pd.get_dummies(X_train[cgr_columns])

,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
10261,1,0,0,0,0
17574,1,0,0,0,0
18304,0,0,0,1,0
8987,1,0,0,0,0
3596,1,0,0,0,0
...,...,...,...,...,...
7411,1,0,0,0,0
12754,0,1,0,0,0
3405,1,0,0,0,0
14295,0,0,0,0,1
11359,1,0,0,0,0

In [54]:
X_train_ready=X_train_scaled.join(pd.get_dummies(X_train[cgr_columns]))

In [55]:
X_train_ready

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
10261,0.863349,-0.822995,-1.168051,0.958121,0.336078,0.609285,0.458851,1.843997,-1.210183,0.018629,1,0,0,0,0
17574,-1.172118,0.788570,-0.055482,-0.248953,0.241750,0.201272,0.222916,-0.789467,1.617295,-0.030325,1,0,0,0,0
18304,-1.272141,0.830733,0.341864,0.114891,0.185153,-0.158333,0.207359,0.794771,0.001056,-0.136964,0,0,0,1,0
8987,0.603290,-0.771463,0.262395,0.625088,0.060168,-0.028668,0.173654,2.531514,-1.260479,-0.088307,1,0,0,0,0
3596,0.543276,-0.654343,0.421333,-0.302420,-0.524668,-0.446190,-0.503038,1.175800,-0.915507,-0.007216,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7411,0.678307,-0.790202,0.580272,-0.434727,-0.130847,0.705237,-0.036354,-0.550783,1.285845,0.246083,1,0,0,0,0
12754,-0.897055,1.392907,0.818679,-0.822585,-0.925563,-0.954477,-0.925647,-0.410437,-0.620342,-0.116270,0,1,0,0,0
3405,0.608291,-0.644973,0.421333,0.470579,0.081392,0.142490,0.173654,1.566148,-0.993142,-0.034173,1,0,0,0,0
14295,1.223432,-1.366430,1.851779,-0.488646,-0.545891,-0.584499,-0.482297,-0.607848,-0.285072,-0.097875,0,0,0,0,1
11359,0.828341,-0.888582,-0.850174,-0.452851,-0.111981,0.933448,-0.111542,-0.883961,1.491581,0.381006,1,0,0,0,0

In [58]:
X_train_ready=X_test_scaled.join(pd.get_dummies(X_train[cgr_columns]))
X_train_ready.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,1.353503,-1.366471,-1.247558,0.285267,-0.111985,-0.001870,0.005129,1.001425,-1.089784,-0.029274,0.0,0.0,0.0,1.0,0.0
1,0.853373,-0.827705,-1.009143,-0.591972,-0.402053,0.087169,-0.534167,-0.442352,1.088901,0.336462,0.0,0.0,0.0,1.0,0.0

# 모델 적용

In [78]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [79]:
lin_reg=LinearRegression()
lin_reg.fit(X_train_ready, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [80]:
X_train_predict=lin_reg.predict(X_train_ready)
X_train_predict

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [81]:
X_train_predict_for=forest.predixt(X_train_ready)

NameError: name 'forest' is not defined

# scoring by performance measure

In [82]:
from sklearn.metrics import mean_squared_error

In [83]:
np.sqrt(mean_squared_error(X_train_predict, y_train))

NameError: name 'X_train_predict' is not defined

In [84]:
np.sqrt(mean_squared_error(X_train_predict_for, y_train))

NameError: name 'X_train_predict_for' is not defined

# test 데이터 준비

In [74]:
median_value=X_train.median()

X_test_origin=X_test.copy()
X_test=X_test.fillna(median_value)
X_test.isnull().sum
X_test['bedroom_ration']=X_test['total_bedrooms']/X_test['total_rooms']
X_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,rooms_per_households,bedroom_ratio,pop_per_household,bedroom_ration
15610,-116.87,32.72,13.0,3268.0,491.0,1431.0,503.0,5.7652,<1H OCEAN,6.497018,0.150245,2.844930,0.150245
10272,-117.87,33.87,16.0,1332.0,368.0,1534.0,295.0,3.0227,<1H OCEAN,4.515254,0.276276,5.200000,0.276276
19171,-122.66,38.44,17.0,5815.0,898.0,2614.0,887.0,4.3657,<1H OCEAN,6.555806,0.154428,2.947012,0.154428
18053,-121.99,37.25,25.0,1743.0,212.0,604.0,200.0,10.7582,<1H OCEAN,8.715000,0.121629,3.020000,0.121629
16731,-120.49,35.35,17.0,3043.0,608.0,1457.0,545.0,3.1641,<1H OCEAN,5.583486,0.199803,2.673394,0.199803
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7530,-118.23,33.91,34.0,789.0,200.0,1041.0,191.0,3.1190,<1H OCEAN,4.130890,0.253485,5.450262,0.253485
10666,-117.86,33.61,15.0,3191.0,482.0,930.0,447.0,8.6001,<1H OCEAN,7.138702,0.151050,2.080537,0.151050
13008,-121.29,38.68,20.0,1881.0,378.0,921.0,360.0,1.8589,INLAND,5.225000,0.200957,2.558333,0.200957
14580,-117.19,32.82,35.0,1074.0,180.0,442.0,173.0,5.2530,NEAR OCEAN,6.208092,0.167598,2.554913,0.167598
19081,-122.48,38.31,29.0,2375.0,560.0,1124.0,502.0,2.3276,<1H OCEAN,4.731076,0.235789,2.239044,0.235789

In [76]:
X_test_scaled=pd.DataFrame(scaler.transform(X_test[num_columns]), columns=num_columns)
X_test_scaled.head(1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household
0,1.353503,-1.366471,-1.247558,0.285267,-0.111985,-0.00187,0.005129,1.001425,-1.089784,-0.029274

In [86]:
X_test_ready=X_test_scaled.join(pd.get_dummies(X_test[cgr_columns]).reset_index())
X_test_ready.head(1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,bedroom_ratio,pop_per_household,index,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,1.353503,-1.366471,-1.247558,0.285267,-0.111985,-0.00187,0.005129,1.001425,-1.089784,-0.029274,15610,1,0,0,0,0

In [89]:
X_test_ready.isnull().sum()

longitude                     0
latitude                      0
housing_median_age            0
total_rooms                   0
total_bedrooms                0
population                    0
households                    0
median_income                 0
bedroom_ratio                 0
pop_per_household             0
index                         0
ocean_proximity_<1H OCEAN     0
ocean_proximity_INLAND        0
ocean_proximity_ISLAND        0
ocean_proximity_NEAR BAY      0
ocean_proximity_NEAR OCEAN    0
dtype: int64

In [91]:
X_test_ready.drop('index',inplace=True, axis=1)

In [93]:
np.sqrt(mean_squared_error(X_train_predict, y_train))

NameError: name 'X_train_predict' is not defined